.index-header{
  background-color: gray;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.lists-right{
  display: flex;
  margin: 0 30px 0 0;
  border: 10px solid gray;
  justify-content: space-around;
}

.user-area{
  width: 200px;
  background-color: white;
  border: 3px solid gray;
}

.logout-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.number-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.login-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.signup-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
/*** メイン ***/
.index-main{
  display: flex;
}
.index-left{
  background-color: bisque;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shift-area{
  width: 200px;
  height: 50px;
  text-align: center;
  border: 5px solid white;
  margin: 40px;
}
  /*** ボタン部分 ***/
.button-area{

}

.lists-button{

}

.shift-submit{
  text-decoration-line: none;
  font-size: 30px;
  color: black;
}

.shift-show{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.shift-edit{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.index-right{
  display: flex;
  justify-content: center;
}