.index-title{
  background-color: gray;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.lists-right{
  display: flex;
  margin: 0 30px 0 0;
  border: 10px solid gray;
  justify-content: space-around;
}

.user-area{
  width: 200px;
  background-color: white;
  border: 3px solid gray;
}

.logout-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.number-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.login-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}
.signup-shift{
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-align: center;
}